@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";
@import "antd/dist/reset.css";

@theme {
  --color-primary: #1677ff;
  --color-success: #52c41a;
  --color-warning: #faad14;
  --color-danger: #ff4d4f;
}
